* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#canvasCon {
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    section {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 100px;
        }

        #translator {            
            h1 {
                padding: 20px 0;
            }            
        }

        p {
            margin-top: 20px;
            width: 420px;
            text-align: center;
            font-size: smaller;
            font-style: italic;
        }
        
        textarea {
            margin: 0 auto;
            margin-top: 20px;
            resize: none;
            border: none;
            letter-spacing: 1px;
            width: 100%;
            height: 300px;
            cursor: default;        
          }
    }
}